html,
body {
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  background-color: #f7f8fc;
  background-image: url('./assets/backgrounds/dashboard_bg.png');
  background-repeat: repeat-x;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
